.card {
    border-radius: 10px 0 0 10px;
    border: 1px solid #333333;
    border-right: 0px;
    height: 200px;
    width: 50px;
    background-color: #fcfcfc;
    float: left;
    margin-right: 1px;
}
