.avatar img {
    max-width: 300px;
    float: left;
    position: absolute;
    left: 0;
    border-radius: 2px;
}

.avatar {
    width: 254px;
    height: 150px;
    /* background-color: #aaffaa; */
    float: left;
    margin: 2px;
    position: relative;
}

.avatar .text {
    position: relative;
    top: 0px;
    left: 50%;
    height: 35px;
    width: 125px;
    margin-top: 10px;
}
